@model string
@{
    ViewBag.Title = "Home Page";
    @*<script>
            //Getting the User Details from the MVC Controller
            var currentUser = @Html.Raw(Model);
        </script>*@
    <script src="~/app/app.js"></script>
    @*<script src="~/app/Repository.js"></script>*@
    <script src="~/app/data-service.js"></script>
    <script src="~/app/Register-Controller.js"></script>
    <script src="~/app/Shedule-Controller.js"></script>
    <script src="~/app/Catalog-Controller.js"></script>

}

<div id="BodyContent" ng-app="app">
    <div class="container" ng-controller="registerController">
        <div class="well">
            <div class="container">
                <h3>Registration  -- {{identity.currentUser.data.name}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div ng-controller="CatalogController">
                    <h3>Avaliable Courses</h3>
                    <input type="search" ng-model="search" />

                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Credits</th>
                                <th>Instructor</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="course in catalog">
                            @*| filter : {registered:false}">*@
                            <td>{{course.name}}</td>
                            <td>{{course.credits}}</td>
                            <td>
                                <a href="#" ng-click="followInstructor(course.instructorName)">{{course.instructorName}}</a>
                            </td>
                            <td><input type="button" value="Register" ng-click="registerCourse(course)"></td>
                        </tr>

                    </table>

                </div>
            </div>
        
            <div class="col-md-4">
                <div ng-controller="CatalogController">
                    <h3>Following</h3>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Following</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="instructor in followedInstructors">
                            <td>{{instructor.name}}</td>
                        </tr>

                    </table>

                </div>
            </div>


            <div class="col-md-4">
                <div ng-controller="SheduleController">
                    <h3>Schedule</h3>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Credits</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="course in catalog">
                            <td>{{course.name}}</td>
                            <td>{{course.credits}}</td>
                            <td><input type="button" value="Un Register" ng-click="unRegisterCourse(course)"></td>
                        </tr>

                    </table>

                </div>
            </div>

        </div>@*END Row*@



    </div>
</div>