@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/Home/Module.js"></script>
    <script src="~/Scripts/Home/controller.js"></script>
}
<div class="container">
    <h2 ng-controller="HelloWorldCntrl">{{value}}</h2>
</div>


