<section class="artistPage">
	<div class="search">
		<h2> Artist Directory </h2>
		<div>Search: </div>
		<input ng-model="query" placeholder="Search for artist" autofocus>
	
		<label class="formgroup">
			<select ng-model="ArtistOrder">
				<option value="name" >By Name</option>
				<option value="reknown">By Reknown</option>
			</select>
		</label>

		<label class="formgroup">
			<input type="radio" ng-model="direction" checked>Ascending
		</label>
		<label class="formgroup">
			<input type="radio" ng-model="direction" value="reverse"></input>Descending
		</label>
	</div>

	<ul class="artistlist" >
		<li class="artist cf" ng-repeat="image in artists | filter:query | orderBy:ArtistOrder : direction">
			<a href="#/details/{{artists.indexOf(image)}}">
			<!-- sending this to the app.js file then it will send to the controller.js -->
				<img src="images/{{image.shortname}}_tn.jpg" alt="photo of {{image.name}}">
				<div class="info">
					<h2>{{image.name}}</h2>
					<h3>{{image.reknown}}</h3>
				</div>
			</a>
		</li>
	</ul>
</section>